.App {
	text-align: center;
}

.App > header > a > img {
	height: 80px;
	margin-bottom: 20px;
}

.App > header {
	background-color: #222;
	padding: 20px;
	color: white;
}

.App > header h1 {
	font-size: 1em;
	font-weight: normal;
}

.App > section > form {
	display: flex;
	width: 80%;
	padding-top: 30px;
	margin: 0 auto;
}

.App > section > form > input {
	flex: 1;
	padding: 1.5em 1em 0.5em;
	margin: 0 1em;
	border: none;
	border-bottom: 2px solid #a1a1a1;
	border-radius: 0;
	outline: none;
	background: #fff;
	font-size: 1.25em;
	font-weight: 300;
	color: #a1a1a1;
}

.App > section > a {
	display: inline-block;
	padding: 4px 45px 0;
	margin: 60px;
	background: #11b6e4;
	text-transform: uppercase;
	line-height: 64px;
	text-decoration: none;
	font-size: 1.25em;
	color: #ffffff;
	cursor: pointer;
}

.App > section > a:hover {
	opacity: 0.8;
}

@media only screen and (max-width: 800px) {
	.App > section > form {
		flex-direction: column;
	}
}