.Description {
   padding: 60px;
   background: #f1f3f3;
}

.Description > h1 {
   margin-top: 0;
   font-size: 2.25em;
   font-weight: 900;
}

.Description > p {
   font-size: 1.25em;
   font-weight: 300;
   line-height: 1.5em;
}

.Description > i {
   font-size: 1em;
   font-weight: 300;
   line-height: 1em;
   color: gray;
}
