.Weather {
   padding: 60px 5%;
   background: #f1f3f3;
}

.Weather > dl {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.Weather > dl > dt,
.Weather > dl > dd {
   margin: 0;
}

.Weather > dl > dt {
   width: 100px;
   margin-left: 2%;
   font-weight: bold;
   text-align: left;
}

.Weather > dl > dd {
   margin-right: 2%;
   text-align: right;
   text-overflow: ellipsis;
   overflow: hidden;
}

.Weather > ul {
   display: flex;
   flex-wrap: wrap;
   padding: 0;
   justify-content: center;
}

.Weather > ul > li {
   flex: 1;
   display: inline-block;
   padding: 25px;
   margin: 10px;
   background-color: rgba(0, 0, 0, 0.05);
   vertical-align: top;
}

.Weather > ul > li > h4 {
   width: 100px;
   margin-top: 0;
   text-align: left;
}

.Weather > ul > li > h5 {
   font-size: 1.2em;
   font-weight: normal;
}

.Weather > ul > li > h5 > b {
   padding-right: 10px;
   font-weight: normal;
}

.Weather > ul > li > h5> i {
   font-style: normal;
   color: #aaaaaa;
}

.Weather > ul > li > p {
   font-size: 0.8em;
}

@media only screen and (max-width: 1420px) {
	.Weather > ul > li > h4 {
		width: 150px;
	}
}

@media only screen and (max-width: 900px) {
   .Weather > dl {
      margin: 0 10%;
   }

   .Weather > dl > dt,
   .Weather > dl > dd {
      width: 46%;
   }

   .Weather > dl > dd {
      text-align: right;
   }
}